:root {
  --primary-color: #5fbaa7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
  border: 1px solid var(--primary-color);
}

.money-img {
  width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(248, 250, 248);
}

.currency select:hover {
  border: 1px solid var(--primary-color);
}

.currency input {
  border: 0;
  background-color: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

#ref {
  margin-top: 5px;
  font-size: 10px;
  color: rgb(59, 121, 90);
}
